[flake8]
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    migrations,
    contexts.json,
    prompts_message_ids.json,
    *.json

max-line-length = 88
extend-ignore = E203, W503
ignore = E501
